aiocsv==1.2.2
aiofiles==0.8.0
altair==4.1.0
bubbly==1.0.2
DateTime==4.3
image==1.5.33
ImageHash==4.2.0
jupyter-client==6.1.12
jupyter-core==4.7.1
jupyterlab-pygments==0.1.2
jupyterlab-widgets==1.0.0
loguru==0.5.3
lxml==4.6.3
matplotlib==3.5.0
matplotlib-inline==0.1.2
notebook==6.3.0
numpy==1.20.2
opencv-python==4.5.2.52
openpyxl==3.0.7
packaging==23.0
pandas==1.2.4
pandas-flavor==0.2.0
pandocfilters==1.4.3
pipreqs==0.4.10
plotly==4.14.3
scikit-learn==0.24.2
scipy==1.6.3
seaborn==0.12.2
sklearn==0.0
smmap==4.0.0
sortedcontainers==2.4.0
statsmodels==0.13.5
streamlit==1.14.0
streamlit-folium==0.4.0
virtualenv==20.4.7
