bubbly==1.0.2
lxml==4.6.3
matplotlib==3.5.0
matplotlib-inline==0.1.2
numpy==1.20.2
opencv-python==4.5.2.52
openpyxl==3.0.7
pandas==1.2.4
pandas-flavor==0.2.0
pipreqs==0.4.10
plotly==4.14.3
py==1.10.0
scikit-learn==0.24.2
scipy==1.6.3
seaborn==0.12.2
statsmodels==0.13.5
streamlit==1.14.0
streamlit-folium==0.4.0
lifelines==0.27.4
snowflake-connector-python==3.0.0
